<div class="posts">
    <br>
    <h2>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lab News
    </h2>
    
    {% for post in paginator.posts %}
    <p>
          <header>
            <h6>
              <a aria-label="{{ post.title }}" class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title }}
              </a>
            </h6>
          </header>
    </p>
    {% endfor %}
</div>

{% include blog/blog_nav.liquid %}
